@model Team1Centric940.Models.Receiver

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Receiver</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.gratitudeId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.gratitudeId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.recognizor)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.recognizor)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.recognized)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.recognized)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.receiverId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
