@model IEnumerable<Team1Centric940.Models.Giver>

@{
    ViewBag.Title = "Giver Index";
}

<h2>Givers</h2>

<div class="form-horizontal">
    <div class="form-group">
        <div class="col-md-6">
            @using (Html.BeginForm("Index", "Givers", FormMethod.Get))
            {
            <p>
                Search by Giver name (first, last, both) <span class="glyphicon glyphicon-search"></span>
                @Html.TextBox("searchString")
            <input type="submit"  value="Search" />
            </p>
            }

        </div>
        <div class="col-md-6">
            @Html.ActionLink("Create New", "Create")
        </div>
    </div>

</div>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.award)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.recognizor)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.recognized)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.recognizationDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.employeeId)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.award)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.recognizor)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.recognized)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.recognizationDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.employeeId)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.giverID }) |
            @Html.ActionLink("Details", "Details", new { id=item.giverID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.giverID })
        </td>
    </tr>
}

</table>
